{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я автор</h1>

<p>
  Привет, меня зовут Юля. 
  <img src="{% static 'img/i_am.jpg' %}" width="200" height="200" align="left" vspace="20" style="margin-right: 15px" alt="это я">
</p>

<p>В будущем я себя вижу крутым специалистом, 
а пока я работаю технологом на радиоэлеткронном производстве</p>

<p>Получила первое высшее по направлению электроника и наноэлектроника</p>

<p>На данный момент я получаю второе высшее образование по нраправлению искуственный интеллект</p>

<p>Иногда хочется спать, но я усердно сижу ночами и программирую</p>

<p>А еще я люблю котиков (особенно смешные стикеры с ними)
</p>

{% endblock %} 